<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.es.cmschool"
    android:versionCode="5"
    android:versionName="1.0.5" android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-sdk android:minSdkVersion="8"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:restoreNeedsApplication="true" android:killAfterRestore="true" 
        android:enabled="true" 
        android:vmSafeMode="true" 
        android:allowClearUserData="true" android:restoreAnyVersion="true" 
        >
        <activity
            android:name="kr.es.cmschool.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="kr.es.cmschool.util.Prefs" >
        </activity>
    </application>

</manifest>